.container {
  width: 320px;
  margin: 0 auto;

  &--header {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
  }
}

@media #{$tablet-widths} {
  .container {
    width: 768px;
    margin: 0 auto;
  }
}

@media #{$desktop-widths} {
  .container {
    width: 1150px;
    margin: 0 auto;
  }
}
