.banner {
  position: relative;
}


#sliders {
  position: relative;
  padding-bottom: 10px;
  margin: 10px auto;
  width: 280px;
  overflow: hidden;
}

#slider_items {
  display: flex;
  width: 896px;
  position: relative;
  left: 0;
  transition: all ease 1s;
}

.slider__item {
  padding-bottom: 13px;
 // margin-bottom: 15px;
  width: 280px;
}

.slider__link {
  position: relative;
  left: 90px;
  padding-bottom: 3px;
  bottom: -46px;
  color: $text-white;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 1px dotted $main_yellow;

  &::after {
    position: absolute;
    top: -44px;
    left: 36px;
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    background: url("../img/arrow.svg") no-repeat center;
  }

  /*&--one {
    left: 90px;
  }

  &--two {
    left: 90px;
  }

  &--free {
    left: 90px;
  }*/
}


.slider_control-left {
  width: 40px;
  height: 40px;
  display: block;
  //background: #ffffff;
}

.bg_control {
  fill: none;
}

.slider_control-play {
  fill: $white;
}


.slider_control-svg:hover {
  .slider_control-play {
    fill: $black;
  }

  .bg_control {
    fill: $main_yellow;
  }
}

.slider-item__image {
  width: 280px;
}

@media #{$mobile-iphone_6} {
  .banner {

    &::before,
    &::after {
      position: absolute;
      content: '';
      width: 15px;
      height: 70%;
      top: 0;
    }

    &::before {
      height: 70%;
      left: 12%;
      background: url("../img/scoba_l.svg") no-repeat center;
    }

    &::after {
      left: 85%;
      height: 70%;
      background: url("../img/scoba_r.svg") no-repeat center;
    }
  }

  .slider__link {
    bottom: -58px;
  }
}

@media #{$mobile-iphone_6_plus} {
  .banner {
    &::before {
      left: 10%;
      width: 15px;
      height: 70%;
    }

    &::after {
      left: 86%;
      width: 15px;
      height: 70%;
    }
  }

  #sliders,
  .slider__item,
  .slider-item__image {
    width: 320px;
  }

  .slider__link {
    left: 112px;
  }
}